@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&display=swap");

@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

@theme {
  /* fonts */
  --font-monda: "Monda", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* colors  */
  --color-background: var(--background);
  --color-text: var(--text);
  --color-blue: var(--blue);
  --color-gray: var(--gray);
  /* 
  --color-gray-muted: var(--gray-muted);
  --color-text: var(--text);
  --color-accent-blue: var(--blue);
  --color-accent-brown: var(--brown); */

  /*  *Breakpoints */
  --breakpoint-xs: 340px;
  --breakpoint-ss: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1680px;
}

:root {
  --background: #ecf3f9;
  --blue: #2563eb;
  --text: #111111;
  --gray: #6b7280;
}

.dark {
  /* --background: #1e293b;
  --text: #f1f5f9;
  --blue: #3b82f6;
  --brown: #d97706; */
}

/* Global Reset  */
:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  transition-delay: 9999s !important;
  transition-property: background-color, color !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.status-fade {
  mask-image: linear-gradient(to right, black 85%, transparent);
  -webkit-mask-image: linear-gradient(to right, black 85%, transparent);
}

body {
  font-size: 1.3rem;
  /* font-family: var(--font-inter);
  background: var(--color-background);
  color: var(--color-text);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; */
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
